html {
    height: 100%;
}

input#map_search{
    display: block;
    width: 100%;
    margin-bottom: 4em;
    height: 3em;
    /*margin: 0.5em;*/
}

select#route, select#stop{
    display: block;
    width: 100%;


}

select#stop {
    margin-bottom: 8em;
}
div#info {
    position: absolute;
    width: 100%;
    bottom: 0;
    /*height:600px;*/
    /*bottom: 0;*/
    /*border: #603d3d;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
}



div#left-pane {
    width: 26em;
    max-width: 40%;
    border: 1px solid #d5ced1;
    /*float: left;*/
    margin: 1em;
    /*padding: 1em;*/
    /*height: 100%;*/
    background-color: #fdfdfb;
    border-radius: 0.3em;
    position: absolute;
    bottom: 0;
    top: 0;
}

div#left-pane div#wrap {
    padding: 1em;
}

div#trackInfo {
    /*width: 56%;*/
    height: 30%;
    border: 1px solid #d5ced1;
    border-bottom: 0;
    /*float: left;*/
    /*margin: 1em;*/
    margin-bottom: 0;
    background-color: #fdfdfb;
    border-radius: 0.3em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



div#map {
    /*width: 56%;*/
    height: 70%;
    border: 0; /*1px solid #3d0e10;*/
    /*float: left;*/
    /*margin: 1em;*/
    margin-top: 0;
    border: 1px solid #d5ced1;
    border-top: 0;
    border-radius: 0.3em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /*mix-blend-mode: multiply;*/

}

div#info p {
    background-color: #fcfce8;
    padding: 0.6em;
    /*margin: 0.5em;*/
    border-bottom: 1px solid #c6c3b7;
    border-collapse: collapse;
}

div#info p.banner {
    border-bottom: 1px solid #c6c3b7;
    background-color: transparent;
    color: #aba89e;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.3em;
}

body {
    background-color: whitesmoke;
    background-image: url("kindajean.v3.png");
    font-family: 'IBM Plex Sans';
}

div#trackInfo{
    padding: 1.2em;
}

select {
   /*-webkit-appearance: none;*/
   /*-moz-appearance: none;*/
   /*appearance: none;       !* remove default arrow *!*/
   /*background-image: url(...);   !* add custom arrow *!*/

}

div#selectBoxes {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}


div#trackInfo p {
    color: #5f5858;
}
p#arriveTime {
    font-size: 2.1em;
    text-align: left;
    /*font-style: italic;*/
    font-weight: normal;

}

p#arriveTime span {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.32em;
    border-radius: 0.28em;
    background-color: #a1fbde;
    color: #032225;
    font-style: normal;
    font-weight: bold;
}

p#walkTime {
    margin-top: 0.5em;
    font-size: 1.8em;
    text-align: left;
    /*font-style: italic;*/
    font-weight: normal;
}

p#walkTime span {
    background-color: #192543;
    color: #e3dbde;
    font-weight: bold;
    font-style: normal;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-left: 0.3em;
    border-radius: 0.25em;
    background-color: #a1fbde;
    color: #032225;
}

p#routeName {
    font-size: 1.2em;
    text-align: right;
}

p#stopName {
    margin-top: 2em;
    font-size: 1.2em;
    text-align: right;
}

p#stopName span {
    font-size: 1.4em;
    margin-left: 0.5em;
    font-weight: bold;
}

p#routeName span {
    font-size: 1.4em;
    margin-left: 0.5em;
    font-weight: bold;
}

div#trackInfo p.noEta span {
    background-color: transparent;
    color: #fd5888;
    padding: 0;
    margin-left: 0;
    /*font-style: italic;*/
    font-weight: bold;
}

input#map_search {
    border-radius: 0;
    border: 3px solid #b2a5a8;
    height: 3em;
    padding: 0.5em;
    font-family: "IBM Plex Sans Condensed";
    font-size: 1rem;

}

input#map_search:hover, input#map_search:focus {
    border-color: #9a8f91;
}


div.wrapper div.content {
    position: absolute;
    /*border: 2px solid black;*/
    width: 50em;
    /*height: 100%;*/
    bottom: 0;
    top: 0;
    margin-left: 28em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}